.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
.text-reset {
  margin: 0;
  padding: 0;
}
.index-central {
  margin: 0 auto;
  max-width: 940px;
}
@font-face {
  font-weight: lighter;
  font-family: "OpenSans-Light";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/OpenSans-Light.woff2") format("woff2"), url("fonts/OpenSans-Light.woff") format("woff");
}
@font-face {
  font-weight: normal;
  font-family: "OpenSans-Regular";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensans.woff2") format("woff2"), url("fonts/opensans.woff") format("woff");
}
@font-face {
  font-weight: bold;
  font-family: "OpenSans-Bold";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("fonts/opensansbold.woff") format("woff");
}
body {
  min-width: 320px;
  font-family: "OpenSans-Regular", "Arial", sans-serif;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: insert(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
.page-header {
  width: 100%;
  background-color: #1d2631;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 0px;
  background-size: 700px auto;
}
@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .page-header {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}
.page-header-nojs {
  background-position: center 298px;
}
@media (min-width: 660px) {
  .page-header {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: 1200px auto;
  }
}
@media (min-width: 660px) and (min-resolution: 144dpi), (min-width: 660px) and (min-resolution: 1.5dppx) {
  .page-header {
    background-image: url("../img/bg-back-tablet@2x.jpg");
  }
}
.main-nav {
  position: relative;
  width: auto;
}
.main-nav--closed {
  background-color: rgba(28, 37, 48, 0.3);
}
.main-nav--opened {
  background-color: #283645;
}
.main-nav__wrapper-logo {
  display: flex;
  padding: 0 20px;
  min-height: 66px;
  align-items: center;
}
.main-nav--closed .main-nav__list {
  display: none;
}
.main-nav--opened .main-nav__toggle {
  width: 62px;
}
.main-nav__toggle {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 90px;
  height: 66px;
  padding: 0;
  border: none;
  background: none;
  z-index: 2;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 21px;
  left: 20px;
  width: 50px;
  height: 4px;
  background-color: #fff;
  box-shadow: 0 10px 0 0 #fff, 0 20px 0 0 #fff;
}
.main-nav--opened .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 16.5px;
  left: 29px;
  width: 4px;
  height: 30px;
  background-color: #ffffff;
  transform: rotate(45deg);
}
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 16.5px;
  left: 29px;
  width: 4px;
  height: 30px;
  background-color: #ffffff;
  transform: rotate(-45deg);
}
.main-nav--nojs .main-nav__list {
  display: block;
}
.main-nav--nojs .main-nav__toggle::before {
  content: none;
}
.main-nav--nojs .main-nav__wrapper-logo {
  justify-content: center;
  background-color: #283645;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-list__item--active {
  border-top: 1px solid #000000;
}
.site-list__item a {
  display: block;
  padding: 20px 0px;
  font-family: "OpenSans-Bold";
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #283645;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid #000000;
}
@media (min-width: 660px) {
  .main-nav__wrapper-logo {
    min-height: 110px;
  }
  .main-nav--closed .main-nav__toggle {
    top: 50%;
    transform: translateY(-50%);
  }
  .main-nav__toggle {
    top: auto;
  }
}
.intro {
  padding: 396px 20px 30px;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: 258px auto;
  background-position: 0px 110px;
}
@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .intro {
    background-image: url("../img/iphone-hand-mobile@2x.png");
  }
}
.intro__title {
  display: none;
}
.intro__button-download {
  display: block;
  width: 100%;
  margin-top: 28px;
  padding: 16px 20px;
  font-family: "OpenSans-Bold";
  font-size: 18px;
  line-height: 17px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  border: 3px solid #ffffff;
  border-radius: 50px;
  background: none;
  box-sizing: border-box;
}
.intro__img-wrapper {
  margin: 0;
  padding: 0;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.intro__text {
  margin: 0;
  padding: 0;
  margin-top: 26px;
  font-family: "OpenSans-Light";
  font-size: 14px;
  line-height: 24px;
  font-weight: lighter;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 660px) {
  .intro {
    display: flex;
    min-height: 620px;
    margin: 0 auto;
    max-width: 940px;
    padding: 0px 20px 0px;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-repeat: no-repeat;
    background-size: 700px auto;
    background-position: -17px 100%;
  }
  .intro__wrapper {
    width: 300px;
    margin: auto 0;
  }
  .intro__title {
    margin: 0;
    padding: 0;
    padding: 0 30px;
    display: block;
    font-family: "OpenSans-Light";
    font-size: 40px;
    font-weight: lighter;
    color: #ffffff;
    text-align: center;
  }
  .intro__button-download {
    margin-top: 35px;
  }
  .intro__img-wrapper {
    width: 205px;
    margin: 46px auto 36px;
    justify-content: space-between;
  }
}
@media (min-width: 660px) and (min-resolution: 144dpi), (min-width: 660px) and (min-resolution: 1.5dppx) {
  .intro {
    background-image: url("../img/iphone-hand-tablet@2x.png");
  }
}
.information {
  background-color: #f2f2f2;
}
.information__header-wrapper {
  position: relative;
  padding: 40px 20px 71px;
  background-color: #ffffff;
}
.information__header-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-right: 100vw solid #f2f2f2;
  border-top: 32px solid transparent;
}
.information__header-title {
  margin: 0;
  padding: 0;
  font-family: "OpenSans-Light";
  font-size: 24px;
  font-weight: lighter;
  color: #283645;
  text-align: center;
}
.br-tablet {
  display: none;
}
.information__list-wrapper {
  position: relative;
  padding: 54px 20px 0px;
}
.information__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.information__item {
  margin-bottom: 32px;
}
.information__item:last-child {
  margin-bottom: 0;
}
.information__title {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  font-family: "OpenSans-Bold";
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}
.information__description {
  margin: 0;
  padding: 0;
  font-family: "OpenSans-Regular";
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #283645;
  text-align: center;
}
.information__images {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 40px;
}
.information__image-wrapper {
  margin: 0;
  padding: 0;
  line-height: 0;
  text-align: center;
}
.information__image:nth-child(-n+2) {
  display: none;
}
@media (min-width: 660px) {
  .information__header-wrapper {
    padding: 53px 20px 92px;
  }
  .information__header-title {
    margin: 0 auto;
    max-width: 940px;
    font-size: 40px;
  }
  .br-mobile {
    display: none;
  }
  .br-tablet {
    display: block;
  }
  .information__list-wrapper {
    margin: 0 auto;
    max-width: 940px;
    display: flex;
    padding: 27px 20px 0px;
  }
  .information__list {
    margin: auto;
    order: 1;
  }
  .information__item {
    margin-bottom: 33px;
  }
  .information__item:last-child {
    margin-bottom: 33px;
  }
  .information__title,
  .information__description {
    text-align: left;
  }
  .information__image-wrapper {
    width: 268px;
  }
  .information__images {
    padding: 0;
    margin: auto;
    margin-right: 42px;
    z-index: 2;
  }
  .information__image {
    margin-top: -74px;
  }
}
.research {
  display: none;
}
@media (min-width: 660px) {
  .research {
    display: block;
  }
  .research__wrapper-top {
    margin: 0 auto;
    max-width: 940px;
    padding: 99px 20px 84px;
    background-image: url("../img/24hours-tablet.svg");
    background-repeat: no-repeat;
    background-position: 5% 50%;
  }
  .research__wrapper {
    margin-left: 310px;
  }
  .research__title {
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
    font-family: "OpenSans-Bold";
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    text-align: left;
    color: #000000;
  }
  .research__description {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-family: "OpenSans-Regular";
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    text-align: left;
    color: #283645;
  }
  .research__button {
    display: block;
    font-family: "OpenSans-Regular";
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: #D22856;
    cursor: pointer;
  }
}
@media (min-width: 1200px) {
  .research {
    background-color: #f2f2f2;
  }
}
.reviews {
  position: relative;
  padding: 43px 20px 66px;
}
.reviews__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.reviews__item {
  display: none;
}
.reviews__item-show {
  display: block;
}
.reviews__author-name {
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
  font-family: "OpenSans-Bold";
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
}
.reviews__author-position {
  display: none;
}
.reviews__description {
  margin: 0;
  padding: 0;
  font-family: "OpenSans-Regular";
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  color: #283645;
  text-align: center;
}
.reviews__prev,
.reviews__next {
  display: none;
}
.reviews__toggles {
  margin: 0;
  padding: 0;
  margin: 31px auto 0px;
  width: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.review__toggle {
  padding: 0;
  margin-right: auto;
  width: 12px;
  height: 12px;
  font-size: 0;
  border: 3px solid #ffffff;
  border-radius: 50%;
  background-color: rgba(40, 54, 69, 0.3);
}
.review__toggle--active {
  background-color: #ffffff;
  border: 3px solid #283645;
}
@media (min-width: 660px) {
  .reviews {
    margin: 0 auto;
    max-width: 940px;
  }
  .reviews__item-show {
    display: flex;
    flex-direction: column;
  }
  .reviews__author-name {
    font-size: 20px;
    margin-bottom: 2px;
  }
  .reviews__author-position {
    display: block;
    font-family: "OpenSans-Regular";
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: #283645;
  }
  .reviews__description {
    margin-bottom: 37px;
    font-size: 18px;
    order: -1;
  }
  .reviews__toggles {
    margin-top: 33px;
  }
}
@media (min-width: 1200px) {
  .reviews {
    padding: 187px 0px 119px;
    background-image: url("../img/doublepoint.svg");
    background-repeat: no-repeat;
    background-position: 50% 72px;
  }
  .reviews__author-name {
    font-size: 24px;
    margin-bottom: 2px;
  }
  .reviews__author-position {
    font-size: 18px;
  }
  .reviews__description {
    max-width: 700px;
    margin: 0px auto 37px;
  }
  .reviews__wrapper {
    position: absolute;
    display: flex;
    justify-content: space-between;
    max-width: 940px;
    height: 41px;
    width: 100%;
    top: 43%;
  }
  .reviews__prev,
  .reviews__next {
    position: relative;
    padding: 0;
    display: block;
    width: 22px;
    font-size: 0;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .reviews__prev::before {
    content: "";
    position: absolute;
    top: -3.4px;
    left: 11px;
    width: 2px;
    height: 28px;
    transform: rotate(45deg);
    background-color: rgba(40, 54, 69, 0.3);
  }
  .reviews__prev::after {
    content: "";
    position: absolute;
    top: 16.5px;
    left: 9.5px;
    width: 2px;
    height: 28px;
    transform: rotate(-45deg);
    background-color: rgba(40, 54, 69, 0.3);
  }
  .reviews__next::before {
    content: "";
    position: absolute;
    top: -3.4px;
    left: 11px;
    width: 2px;
    height: 28px;
    transform: rotate(-45deg);
    background-color: rgba(40, 54, 69, 0.3);
  }
  .reviews__next::after {
    content: "";
    position: absolute;
    top: 16.5px;
    left: 9.5px;
    width: 2px;
    height: 28px;
    transform: rotate(45deg);
    background-color: rgba(40, 54, 69, 0.3);
  }
  .reviews__toggles {
    display: none;
  }
}
.prices {
  position: relative;
  padding: 70px 0px 48px;
  background-color: #f2f2f2;
  overflow: hidden;
}
.prices::before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  border-right: 100vw solid #f2f2f2;
  border-top: 25px solid transparent;
}
.prices-wrapper {
  margin: 0 auto;
  width: 280px;
}
.prices__table {
  width: 840px;
  overflow: hidden;
  border-collapse: collapse;
}
.prices__table--start {
  transform: translateX(0px);
}
.prices__table--middle {
  transform: translateX(-280px);
}
.prices__table--end {
  transform: translateX(-560px);
}
.prices__features-header,
.prices__features {
  display: none;
}
.prices__title {
  position: relative;
  padding: 20px 20px;
  font-family: "OpenSans-Bold";
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #283645;
  border-bottom: 2px solid #283645;
  border-right: 2px solid #F2F2F2;
}
.prices__title:last-child {
  border-right: 2px solid #283645;
}
.price__title--hit {
  position: relative;
  overflow: hidden;
}
.price__title--hit::before {
  content: 'Хит';
  position: absolute;
  top: 10px;
  left: -29px;
  width: 104px;
  height: 29px;
  font-family: "OpenSans-Bold";
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #d22856;
  transform: rotate(-45deg);
}
.prices__cost {
  display: block;
  margin-top: 2px;
  font-family: "OpenSans-Light";
  font-size: 24px;
  font-weight: lighter;
}
.prices__body td {
  padding: 15px 22px;
  font-family: "OpenSans-Regular";
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #283645;
  border: 2px solid #E5E5E5;
  background-color: #ffffff;
  box-sizing: border-box;
}
.prices__check--yes {
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-position: 93.5% 50%;
}
.prices__check--no {
  background-image: url("../img/icon-no.svg");
  background-repeat: no-repeat;
  background-position: 93.5% 50%;
}
.prices__toggles {
  margin: 0;
  padding: 0;
  margin: 45px auto 0px;
  width: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price__toggle {
  padding: 0;
  margin-right: auto;
  width: 12px;
  height: 12px;
  font-size: 0;
  border: 3px solid #f2f2f2;
  border-radius: 50%;
  background-color: rgba(40, 54, 69, 0.3);
}
.price__toggle--active {
  background-color: #ffffff;
  border: 3px solid #283645;
}
@media (min-width: 660px) {
  .prices {
    padding: 38px 20px 70px;
    overflow: visible;
  }
  .prices-wrapper {
    width: auto;
    max-width: 940px;
  }
  .prices__table {
    margin: 0 auto;
    width: 100%;
  }
  .prices__table--start,
  .prices__table--middle,
  .prices__table--end {
    transform: initial;
  }
  .prices__head td {
    width: 25%;
  }
  .prices__features-header,
  .prices__features {
    display: table-cell;
  }
  .prices__title {
    padding: 14px 20px 8px;
    font-size: 16px;
  }
  .prices__title:nth-child(2) {
    border-top-left-radius: 3px;
  }
  .prices__title:last-child {
    border-top-right-radius: 3px;
  }
  .price__title--hit::before {
    top: 7px;
    left: -34px;
  }
  .prices__cost {
    font-size: 18px;
    margin-top: 1px;
  }
  .prices__body td {
    padding: 9px 15px 6px 24px;
    text-transform: none;
  }
  .prices__body .prices__check--yes,
  .prices__body .prices__check--no {
    padding: 0;
    font-size: 0;
    line-height: 0;
    background-position: 50% 50%;
  }
  .prices__toggles {
    display: none;
  }
}
@media (min-width: 1200px) {
  .prices {
    padding: 70px 0px 98px;
  }
  .prices__title {
    padding: 20px 20px;
    font-size: 18px;
  }
  .prices__cost {
    font-size: 24px;
  }
  .prices__body td {
    padding: 17px 24px 12px;
    font-size: 18px;
  }
}
.contacts {
  position: relative;
  padding: 45px 20px 37px;
}
.contacts::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -29px;
  border-top: 30px solid #ffffff;
  border-right: 50vw solid transparent;
  border-left: 50vw solid transparent;
}
.contacts__title {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  font-family: "OpenSans-Light";
  font-size: 24px;
  line-height: 30px;
  font-weight: lighter;
  text-align: center;
  color: #283645;
}
.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.contacts__item {
  margin-bottom: 17px;
}
.contacts__item:last-child {
  margin-bottom: 0;
}
.contacts__item-name {
  display: block;
  font-family: "OpenSans-Bold";
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  color: #283645;
}
.contacts__item a {
  display: block;
  font-family: "OpenSans-Light";
  font-size: 24px;
  font-weight: lighter;
  text-align: center;
  color: #d22856;
  text-decoration: none;
}
.contacts__br {
  display: none;
}
@media (min-width: 660px) {
  .contacts {
    padding: 54px 20px 25px;
  }
  .contacts::after {
    bottom: -67px;
    border-top: 68px solid #ffffff;
  }
  .contacts__title {
    padding: 0 21px;
    margin-bottom: 49px;
    font-size: 40px;
    line-height: 44px;
  }
  .contacts__list {
    max-width: 660px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .contacts__item {
    margin-bottom: 43px;
  }
  .contacts__item:last-child {
    width: 100%;
  }
  .contacts__br {
    display: block;
  }
}
@media (min-width: 1200px) {
  .contacts {
    padding: 69px 0px 0px;
  }
  .contacts::after {
    bottom: -103px;
    border-top: 104px solid #ffffff;
  }
  .contacts__title {
    margin: 0 auto;
    max-width: 940px;
    padding: 0 115px;
    margin-bottom: 62px;
    font-size: 50px;
    line-height: 60px;
    box-sizing: border-box;
  }
  .contacts__list {
    margin: 0 auto;
    max-width: 940px;
    justify-content: space-around;
  }
  .contacts__item {
    margin-bottom: 0px;
  }
  .contacts__item:nth-child(2) {
    order: 1;
  }
  .contacts__item:last-child {
    width: auto;
  }
  .contacts__item-name {
    margin-bottom: 24px;
  }
}
.map__wrapper {
  width: 100%;
  height: 200px;
  background: url(../img/icon-map-marker.svg) no-repeat, url(../img/bg-map-mobile@1x.jpg) no-repeat #eae6dd;
  background-size: 36px 36px, auto 351px;
  background-position: 50% 57.5%, 50% 46.5%;
}
@media (min-width: 660px) {
  .map__wrapper {
    width: 100%;
    height: 373px;
    background: url(../img/icon-map-marker.svg) no-repeat, url(../img/bg-map-tablet@1x.jpg) no-repeat #eae6dd;
    background-size: 36px 36px, auto 848px;
    background-position: 50% 56.5%, 50% 73.5%;
  }
}
@media (min-width: 660px) and (min-resolution: 144dpi), (min-width: 660px) and (min-resolution: 1.5dppx) {
  .map__wrapper {
    width: 100%;
    height: 373px;
    background: url(../img/icon-map-marker.svg) no-repeat, url(../img/bg-map-tablet@2x.jpg) no-repeat #eae6dd;
    background-size: 36px 36px, auto 848px;
    background-position: 50% 56.5%, 50% 73.5%;
  }
}
@media (min-width: 700px) {
  .map__wrapper {
    width: 100%;
    height: 502px;
    background: url(../img/icon-map-marker.svg) no-repeat, url(../img/bg-map-desktop@1x.jpg) no-repeat #eae6dd;
    background-size: 36px 36px, auto 976px;
    background-position: 50% 55.5%, 50% 58.5%;
  }
}
@media (min-width: 700px) and (min-resolution: 144dpi), (min-width: 700px) and (min-resolution: 1.5dppx) {
  .map__wrapper {
    width: 100%;
    height: 502px;
    background: url(../img/icon-map-marker.svg) no-repeat, url(../img/bg-map-desktop@2x.jpg) no-repeat #eae6dd;
    background-size: 36px 36px, auto 976px;
    background-position: 50% 55.5%, 50% 58.5%;
  }
}
@media (min-width: 1200px) {
  .map__wrapper {
    width: 100%;
    height: 502px;
    background-size: 36px 36px, cover;
  }
}
@media (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
  .map__wrapper {
    background-size: 36px 36px, cover;
  }
}
.page-footer {
  padding: 40px 0px;
  min-height: 284px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.page-footer__logo {
  display: block;
  text-align: center;
}
.page-footer__social {
  margin-top: 44px;
}
.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: -8px;
  width: 178px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.social__item {
  margin-left: 8.33333333px;
  margin-bottom: 8.33333333px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  line-height: 0;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;
}
.page-footer__copyright {
  margin-top: auto;
  display: flex;
  align-items: center;
}
.copyright__text {
  display: block;
  margin-right: 15px;
  font-family: "OpenSans-Regular";
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #283645;
}
@media (min-width: 560px) {
  .page-footer {
    margin: 0 auto;
    max-width: 940px;
    padding: 36px 20px 37px;
    min-height: 127px;
    flex-direction: row;
    justify-content: space-between;
  }
  .page-footer__logo {
    align-self: flex-start;
  }
  .page-footer__social {
    margin-top: 0px;
  }
  .social__item {
    margin-bottom: 0;
  }
  .page-footer__copyright {
    margin-top: 0px;
  }
}
@media (min-width: 1200px) {
  .page-footer {
    padding: 70px 0px 72px;
    min-height: 197px;
  }
}
