.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
.text-reset {
  margin: 0;
  padding: 0;
}
.index-central {
  margin: 0 auto;
  width: 84%;
  max-width: 960px;
}
@font-face {
  font-weight: lighter;
  font-family: "OpenSans-Light";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/OpenSans-Light.woff2") format("woff2"), url("fonts/OpenSans-Light.woff") format("woff");
}
@font-face {
  font-weight: normal;
  font-family: "OpenSans-Regular";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensans.woff2") format("woff2"), url("fonts/opensans.woff") format("woff");
}
@font-face {
  font-weight: bold;
  font-family: "OpenSans-Bold";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("fonts/opensansbold.woff") format("woff");
}
body {
  min-width: 320px;
  font-family: "OpenSans-Regular", "Arial", sans-serif;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: insert(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
.page-header {
  width: 100%;
  background-color: #1d2631;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 0px;
  background-size: 700px auto;
}
@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .page-header {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}
.page-header-nojs {
  background-position: center 298px;
}
.main-nav {
  position: relative;
  width: auto;
  min-height: 66px;
}
.main-nav--closed {
  background-color: rgba(28, 37, 48, 0.3);
}
.main-nav--opened {
  background-color: #283645;
}
.main-nav__wrapper-logo {
  display: flex;
  padding: 0 20px;
  min-height: 66px;
  align-items: center;
}
.main-nav--closed .main-nav__list {
  display: none;
}
.main-nav--opened .main-nav__toggle {
  width: 62px;
}
.main-nav__toggle {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 90px;
  height: 66px;
  padding: 0;
  border: none;
  background: none;
  z-index: 2;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 21px;
  left: 20px;
  width: 50px;
  height: 4px;
  background-color: #fff;
  box-shadow: 0 10px 0 0 #fff, 0 20px 0 0 #fff;
}
.main-nav--opened .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 16.5px;
  left: 29px;
  width: 4px;
  height: 30px;
  background-color: #ffffff;
  transform: rotate(45deg);
}
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 16.5px;
  left: 29px;
  width: 4px;
  height: 30px;
  background-color: #ffffff;
  transform: rotate(-45deg);
}
.main-nav--nojs .main-nav__list {
  display: block;
}
.main-nav--nojs .main-nav__toggle::before {
  content: none;
}
.main-nav--nojs .main-nav__wrapper-logo {
  justify-content: center;
  background-color: #283645;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-list__item--active {
  border-top: 1px solid #000000;
}
.site-list__item a {
  display: block;
  padding: 20px 0px;
  font-family: "OpenSans-Bold";
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #283645;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid #000000;
}
.intro {
  padding: 396px 20px 30px;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: 258px auto;
  background-position: 0px 110px;
}
@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .intro {
    background-image: url("../img/iphone-hand-mobile@2x.png");
  }
}
.intro__title {
  display: none;
}
.intro__button-download {
  display: block;
  width: 100%;
  margin-top: 28px;
  padding: 16px 20px;
  font-family: "OpenSans-Bold";
  font-size: 18px;
  line-height: 17px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  border: 3px solid #ffffff;
  border-radius: 50px;
  background: none;
  box-sizing: border-box;
}
.intro__img-wrapper {
  margin: 0;
  padding: 0;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.intro__text {
  margin: 0;
  padding: 0;
  margin-top: 26px;
  font-family: "OpenSans-Light";
  font-size: 14px;
  line-height: 24px;
  font-weight: lighter;
  color: #ffffff;
  text-align: center;
}
.information {
  padding-top: 40px;
}
.information__header-title {
  margin: 0;
  padding: 0;
  margin-bottom: 71px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "OpenSans-Light";
  font-size: 24px;
  font-weight: lighter;
  color: #283645;
  text-align: center;
  background-color: #ffffff;
}
.information__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 54px 20px 0px;
  background-color: #f2f2f2;
}
.information__list::before {
  content: "";
  position: absolute;
  top: -32px;
  left: 0;
  border-right: 100vw solid #f2f2f2;
  border-top: 32px solid transparent;
}
.information__item {
  margin-bottom: 32px;
}
.information__item:last-child {
  margin-bottom: 0;
}
.information__title {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  font-family: "OpenSans-Bold";
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}
.information__description {
  margin: 0;
  padding: 0;
  font-family: "OpenSans-Regular";
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #283645;
  text-align: center;
}
.information__images {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 40px;
  background-color: #f2f2f2;
}
.information__image-wrapper {
  margin: 0;
  padding: 0;
  line-height: 0;
  text-align: center;
}
.information__image:nth-child(-n+2) {
  display: none;
}
.research {
  display: none;
}
.reviews {
  position: relative;
  padding: 43px 20px 66px;
}
.reviews::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-right: 100vw solid #f2f2f2;
  border-top: 25px solid transparent;
}
.reviews__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.reviews__item {
  display: none;
}
.reviews__item-show {
  display: block;
}
.reviews__author-name {
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
  font-family: "OpenSans-Bold";
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
}
.reviews__author-position {
  display: none;
}
.reviews__description {
  margin: 0;
  padding: 0;
  font-family: "OpenSans-Regular";
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  color: #283645;
  text-align: center;
}
.reviews__prev,
.reviews__next {
  display: none;
}
.reviews__toggles {
  margin: 0;
  padding: 0;
  margin: 31px auto 0px;
  width: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.review__toggle {
  padding: 0;
  margin-right: auto;
  width: 12px;
  height: 12px;
  font-size: 0;
  border: 3px solid #ffffff;
  border-radius: 50%;
  background-color: rgba(40, 54, 69, 0.3);
}
.review__toggle--active {
  background-color: #ffffff;
  border: 3px solid #283645;
}
.prices {
  position: relative;
  padding: 70px 0px 48px;
  background-color: #f2f2f2;
  overflow: hidden;
}
.prices-wrapper {
  margin: 0 auto;
  width: 280px;
}
.prices__table {
  width: 840px;
  overflow: hidden;
  border-collapse: collapse;
}
.prices__table--start {
  transform: translateX(0px);
}
.prices__table--middle {
  transform: translateX(-280px);
}
.prices__table--end {
  transform: translateX(-560px);
}
.prices__features-header,
.prices__features {
  display: none;
}
.prices__title {
  position: relative;
  padding: 20px 20px;
  font-family: "OpenSans-Bold";
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #283645;
  border-bottom: 2px solid #283645;
  border-right: 2px solid #F2F2F2;
}
.prices__title:first-child {
  border-right: none;
  background-color: transparent;
}
.prices__title:last-child {
  border-right: 2px solid #283645;
}
.price__title--hit {
  position: relative;
  overflow: hidden;
}
.price__title--hit::before {
  content: 'Хит';
  position: absolute;
  top: 10px;
  left: -29px;
  width: 104px;
  height: 29px;
  font-family: "OpenSans-Bold";
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #d22856;
  transform: rotate(-45deg);
}
.prices__cost {
  display: block;
  margin-top: 2px;
  font-family: "OpenSans-Light";
  font-size: 24px;
  font-weight: lighter;
}
.prices__body td {
  padding: 15px 22px;
  font-family: "OpenSans-Regular";
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #283645;
  border: 2px solid #E5E5E5;
  background-color: #ffffff;
  box-sizing: border-box;
}
.prices__check--yes {
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-position: 93.5% 50%;
}
.prices__check--no {
  background-image: url("../img/icon-no.svg");
  background-repeat: no-repeat;
  background-position: 93.5% 50%;
}
.prices__toggles {
  margin: 0;
  padding: 0;
  margin: 45px auto 0px;
  width: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price__toggle {
  padding: 0;
  margin-right: auto;
  width: 12px;
  height: 12px;
  font-size: 0;
  border: 3px solid #f2f2f2;
  border-radius: 50%;
  background-color: rgba(40, 54, 69, 0.3);
}
.price__toggle--active {
  background-color: #ffffff;
  border: 3px solid #283645;
}
.contacts {
  padding: 45px 20px 0px;
}
.contacts__title {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 30px;
  font-weight: lighter;
  text-transform: uppercase;
  text-align: center;
  color: #283645;
}
.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.contacts__item {
  margin-bottom: 17px;
}
.contacts__item:last-child {
  margin-bottom: 0;
}
.contacts__item-name {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  color: #283645;
}
.contacts__item a {
  display: block;
  font-size: 24px;
  font-weight: lighter;
  text-align: center;
  color: #d22856;
  text-decoration: none;
}
.map__wrapper {
  width: 100%;
  height: 200px;
  background: url(../img/icon-map-marker.svg) no-repeat, url(../img/bg-map-mobile@1x.jpg) no-repeat #eae6dd;
  background-size: 36px 35px, auto 351px;
  background-position: 50% 57.5%, 50% 46.5%;
}
