.intro {
	padding: 396px 20px 30px;
}

.intro__title {
	display: none;
}

.intro__button-download {
	display: block;
	width: 100%;
	padding: 16px 20px;

	font-size: 18px;
	line-height: 17px;
	font-weight: bold;
	color: #ffffff;
	text-align: center;

	border: 3px solid #ffffff;
	border-radius: 50px;
	background: none;
	box-sizing: border-box;
}
