.main-nav {
	position: relative;
	width: auto;
	//    min-height: 66px;
}

.main-nav--closed {
	background-color: rgba(0, 0, 0, 0.3);
}

.main-nav--opened {
	background-color: @bg-main-nav;
}


.main-nav__wrapper-logo {
	display: flex;
	padding: 0 20px;
	min-height: 66px;
	align-items: center;
}

.main-nav__logo {
	cursor: default;
}

.main-nav__inner-page {
	cursor: pointer;
}

.main-nav--closed .main-nav__list {
	display: none;
}

.main-nav--opened .main-nav__toggle {
	width: 62px;
}


.main-nav__toggle {
	display: block;
	position: absolute;
	top: 0;
	right: 0;

	width: 90px;
	height: 66px;
	padding: 0;

	border: none;
	background: none;
	z-index: 2;
}

.main-nav--closed .main-nav__toggle {

	&::before {
		content: "";
		position: absolute;
		top: 21px;
		left: 20px;
		width: 50px;
		height: 4px;
		background-color: #fff;
		box-shadow: 0 10px 0 0 #fff, 0 20px 0 0 #fff;
	}

	&:hover::before {
		background-color: #d22856;
		box-shadow: 0 10px 0 0 #d22856, 0 20px 0 0 #d22856;
	}

	&:active::before {
		opacity: 0.3;
	}
}

.main-nav--opened .main-nav__toggle {
	&::before {
		content: "";
		position: absolute;
		top: 16.5px;
		left: 29px;

		width: 4px;
		height: 30px;
		background-color: #ffffff;

		transform: rotate(45deg);
	}

	&:hover::before {
		background-color: #d22856;
	}

	&:active::before {
		opacity: 0.3;
	}

	&::after {
		content: "";
		position: absolute;
		top: 16.5px;
		left: 29px;

		width: 4px;
		height: 30px;
		background-color: #ffffff;

		transform: rotate(-45deg);
	}

	&:hover::after {
		background-color: #d22856;
	}

	&:active::after {
		opacity: 0.3;
	}

}

//Без скриптов
//******************************

.main-nav--nojs .main-nav__list {
	display: block;
	border-top: 1px solid #000000;
}

.main-nav--nojs .main-nav__toggle {
	&::before {
		content: none;
	}
}

.main-nav--nojs .main-nav__wrapper-logo {
	margin: 0;
	max-width: none;
	justify-content: center;

	background-color: #283645;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.main-nav--nojs .main-nav__toggle {
	display: none;
}

//********************************

.main-nav__list {
	.list-reset;
	border-top: 1px solid #000000;
}

.site-list__item--active {
	cursor: default;
}

.site-list__item a {
	display: block;
	padding: 20px 0px;

	font-family: "OpenSans-Bold";
	font-size: 18px;
	line-height: 32px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
	background-color: @bg-main-nav;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	border-bottom: 1px solid #000000;
}

.site-list__item:not(.site-list__item--active) a {

	&:hover {
		color: #d22856;
	}

	&:active {
		//		color: #d22856;
		opacity: 0.3;
	}
}

.main-nav__title {
	.text-reset;
	margin-top: 31px;
	padding: 0px 45px;

	font-family: "OpenSans-Light";
	font-size: 24px;
	font-weight: lighter;
	color: #ffffff;
	text-align: center;
}

@media (min-width:@tablet-width) {
	.main-nav__wrapper-logo {
		.index-central;
		min-height: 110px;
	}

	.main-nav--closed .main-nav__toggle {
		//        top: 50%;
		//        transform: translateY(-50%);

		position: static;

		margin-left: auto;

		transform: translateY(12%);
	}

	.main-nav--opened .main-nav__toggle {
		position: static;

		margin-left: auto;

		transform: translateY(12%);
	}

	.main-nav__toggle {
		top: auto;
	}

	.main-nav__title {
		.index-central;
		margin-top: 74px;
		padding: 0px 93px;

		font-size: 50px;
	}
}

@media (min-width:@desktop-width) {
	.main-nav__wrapper-top {
		background-color: rgba(0, 0, 0, 0.3);
	}

	.main-nav {
		.index-central;

		display: flex;
		align-items: center;
	}

	.main-nav__list {
		border-top: 0;
	}

	.main-nav--closed {
		background-color: transparent;
	}

	.main-nav__wrapper-logo {
		margin: 0;
		padding: 0;
		//        margin-right: auto;
		max-width: none;
	}

	.main-nav__toggle {
		display: none;
	}

	.main-nav__wrapper {
		padding-top: 14px;
		margin-left: auto;
		margin-right: -80px;
	}

	.main-nav--closed .main-nav__list {
		//        margin-left: -123px;
		//		max-width: 670px;
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
	}

	.site-list__item {
		margin-right: 80px;
		//		min-width: 167px;
		//        margin-left: 48px;
		//        margin-right: 43px;

		//        &:last-child {
		//            margin-right: 0;
		//        }
	}

	.site-list__item a {
		padding: 5px 0px;

		font-family: "OpenSans-Regular";
		font-size: 18px;
		line-height: 18px;
		font-weight: normal;
		text-align: center;
		text-transform: none;

		background-color: transparent;
		border: 0;
	}

	.site-list__item--active {
		border-top: 0;
	}


	.site-list__item--active a {
		position: relative;

		&::after {
			content: "";
			position: absolute;
			bottom: -4px;
			left: 0;

			width: 100%;
			height: 2px;

			background-color: #ffffff;
		}
	}


	.site-list__item:not(.site-list__item--active) a {
		&:active {
			color: #ffffff;
			opacity: 0.3;
		}
	}

	.main-nav__title {
		margin-top: 67px;
		padding: 0px 190px;
	}

	.main-nav--nojs .main-nav__wrapper-logo {
		background-color: transparent;
	}

	.main-nav--nojs .main-nav__list {
		border-top: 0;
	}
}
