.map__wrapper {
	width: 100%;
	height: 200px;

	background: url(../img/icon-map-marker.svg) no-repeat, url(../img/bg-map-mobile@1x.jpg) no-repeat #eae6dd;
	background-size: 36px 35px, auto 351px;
	background-position: 50% 57.5%, 50% 46.5%;
}
