.reviews {
	position: relative;
	padding: 43px 20px 66px;

	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		border-right: 100vw solid #f2f2f2;
		border-top: 25px solid transparent;
	}
}

.reviews__list {
	.list-reset;
}

.reviews__item {
	display: none;
}

.reviews__item-show {
	display: block;
}

.reviews__author-name {
	.text-reset;
	margin-bottom: 14px;

	font-family: "OpenSans-Bold";
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	text-align: center;
}

.reviews__author-position {
	display: none;
}

.reviews__description {
	.text-reset;

	font-family: "OpenSans-Regular";
	font-size: 14px;
	line-height: 30px;
	font-weight: normal;
	color: #283645;
	text-align: center;
}

.reviews__prev,
.reviews__next {
	display: none;
}

.reviews__toggles {
	.text-reset;
	margin: 31px auto 0px;

	width: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.review__toggle {
	padding: 0;
	margin-right: auto;

	width: 12px;
	height: 12px;

	font-size: 0;

	border: 3px solid #ffffff;
	border-radius: 50%;
	background-color: rgba(40, 54, 69, 0.3);
}

.review__toggle--active {
	background-color: #ffffff;
	border: 3px solid #283645;
}

@media (min-width:@tablet-width) {
	.reviews {
		.index-central;
	}

	.reviews__item-show {
		display: flex;
		flex-direction: column;
	}

	.reviews__author-name {
		margin-bottom: 3px;
	}

	.reviews__author-position {
		display: block;

		font-family: "OpenSans-Regular";
		font-size: 14px;
		line-height: 30px;
		text-align: center;
		color: #283645;

	}

	.reviews__description {
		margin-bottom: 37px;

		order: -1;
	}

	.reviews__toggles {
		margin-top: 33px;
	}
}
